body {
  font-family: Work Sans;
  text-align: center;
  background-color: rgb(144,152,125);
  color:white
}

.navbar, .navbar-brand {
  text-align: center;
  display: block;
  width: 100%;
  background-color: rgb(144,152,125);
  
}

div.navbar-brand {
  padding-top: 2em;
  margin-bottom: 2em;
  
}

.navbar .navbar-brand > .navbar-item,
.navbar .navbar-brand .navbar-link {
  display: inline-block;
}

main {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 30em;
  margin-right: 30em;
}

.me-pic{
  clip-path: circle();
  width: 600px;
  height: auto;
}

.label {
  text-align: left;
}

.l2{
  color:white;

}
.link0{
  color: orange;
}
.link1{
  color:orange;
}
.link2{
  color:orange;
}


footer.footer {
  background-color:  rgb(85, 92, 70);
  
}




@media only screen and (max-width: 1024px) {
    main {
      margin-top: 2em;
      margin-bottom: 2em;
      margin-left: 2em;
      margin-right: 2em;
    }
}

